[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pillow = "*"
django-bootstrap4 = "*"
django-decouple = "*"
dj-database-url = "*"
psycopg2 = "*"
django-tinymce = "*"
django-heroku = "*"
whitenoise = "*"
gunicorn = "*"
python-decouple = "*"

[requires]
python_version = "3.6"
