{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/gif" sizes="16x16">
    <link rel="icon" href="/favicon.ico" />
    {% if title%}
    <title>DynamoDenis | {{title}}</title>
    {% else %}
    <title>DynamoDenis</title>
    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> -->
    {% endif%}
    {% block styles %}
        {% bootstrap_css %}
        
        <link rel="stylesheet" href="{%static 'css/style.css'%}"  >
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>

        <!-- MDB LIGHTBOX CDN -->
            <!-- Font Awesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.13.0/css/mdb.min.css" rel="stylesheet">

        <!-- FAVICON -->
        
    {% endblock %}
    
</head>
<body data-spy="scroll" data-target="#navbarResponsive" id="body">
    <div id="home">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top" id="navbar">
            <a class="navbar-brand " id='name' href="" ><i class="fas fa-fist-raised"></i>
                DynamoDenis</a>
            <a href=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="#home" id="nav">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects" id="nav">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about" id="nav">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact" id="nav">Contact</a>
                </li>
            </ul>
            </div>

            <!-- any messages -->

        <div class="text-center" style="z-index: 100;">
            {% if messages %}
                {% for message in messages%}
                    <div class="alert alert-{{message.tags}}">{{message}}</div>
                {% endfor%}
            {% endif %}
        </div>

        </nav>
        <!-- end of navigation -->
        <div class="landing">
            <div class="home-wrap">
                <div class="home-inner">

                </div>
            </div>
        </div>
 
        <div class="caption text-center nameDetail">
            <h1 class="fancy">Welcome</h1>
            <h3 class="name">Am Dynamo Denis</h3>
            <h5 id="nameDetail"><i class="fas fa-hand-point-right" style="color: rgb(2, 223, 223);"></i><span class="">A Web Developer</span><i class="fas fa-hand-point-right" style="color: rgb(2, 223, 223);"></i><span class="">Software Developer</span><i class="fas fa-hand-point-right" style="color: rgb(2, 223, 223);"></i><span class="">Dreamer</span></h5>
            <a href="#about" class="btn btn-outline-light btn-md" id="nameDetail">Get Started</a>
        </div>
        <div class="dark">

        </div>
    </div>
    <!-- Projects -->
    <div id="projects" class="offset">
        <div class="container"> 
            <div class="mdb-lightbox">        
                <div class="row mt-4">
                    <legend class="legend">PORTFOLIO</legend>
                    <p class="text-center w-responsive mx-auto mb-5">The most exciting moments in software developemnt is bring ideas to life. The moment you realise you can
                        change the world by writing code and the only thing you need is just a working computer. On this exciting journey of software development I have worked on
                        multiple projects both personal and professional. Due to the confidentiality agreements with clients I cannot display them here but below is a sample of some 
                        of my personal projects I have worked on.
                    </p>
                    <div class="legend-underline"></div>
                    {% for project in projects%}
                    <div class="col-lg-4 col-md-4">
                        <div class="card w-auto view overly zoom">
                            <a style="cursor: pointer;"><img src="{{project.image.url}}" class="image" class="card-img-top image-fluid" alt="{{project.description}}" style="height: 40vh; width: 100%;"></a>
                            <div class="card-body">
                                <p class="project-name">{{project.name}}</p>
                                <p><a href="{{project.link}}" target="_blank" class="btn d-block site" id="site">Visit Site</a></p>
                                <div id="modal">
                                    <div id="modalContent">
                                        <p id="close">&times;</p>
                                        {% autoescape on%}
                                        <p id="description"></p>
                                        {% endautoescape%}
                                    </div>
                                </div>
                            </div>
                        </div> <br>
                    </div>

                    <!--  -->
                      
                    {% endfor %}
                </div>
            </div> 
        </div>
    </div>

        <!-- About -->
    <div id="about" class="offset">
        <div class="jumbotron mt-4" id="about">
        <div class="container-fluid">
            <legend class="legend">ABOUT ME</legend>
            <div class="legend-underline"></div>
            <div class="row">
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-8 col-md-8 text-center">
                    <img src="{{user.profile.image.url}}" class="img-circle rounded-circle image-fluid" id="profile" alt="..." style="width: 150px; height: 150px;">
                </div>
                <div class="col-lg-2 col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2"></div>
                <div class="col-lg-8 col-md-8 text-center">
                    <h2 class="card-title">DYNAMO DENIS MBUGUA</h2> <hr>
                    <p class="card-text"><span class="label" id="about-info" style="font-weight: bolder;color: rgb(0, 0, 0);">Email Adress: </span>{{user.email}}</p>
                    {% if user.profile.company%}
                    <p class="card-text"><span class="label" id="about-info" style="font-weight: bolder;color: rgb(0, 0, 0);"> Company: </span>{{user.profile.company}}</p>
                    {%endif%} 
                    {% if user.profile.location%}
                    <p class="card-text"><span class="label" id="about-info" style="font-weight: bolder;color: rgb(0, 0, 0);">Location: </span>{{user.profile.location}}</p>
                    {%endif%} 
                    {% if user.profile.contact%}
                    <p class="card-text"><span class="label" id="about-info" style="font-weight: bolder;color: rgb(0, 0, 0);">Contact Me: </span>{{user.profile.contact}}</p>
                    {%endif%} 
                    {% if user.profile.bio%}
                    <p class="card-text"><span id="about-info" style="font-weight: bolder;color: rgb(0, 0, 0);">About Me:</span> {{user.profile.bio}}</p>
                    {%endif%}
                    <p id="icons">
                        <i class="fab fa-html5 " id="logos" style="font-size:48px;color:red"></i>
                        <i class="fab fa-css3" id="logos" style="font-size:48px;color:red"></i>
                        <i class="fab fa-python" id="logos" style="font-size:48px;color:black"></i>
                        <i class="fab fa-bootstrap" id="logos" style="font-size:48px;color:rgb(43, 43, 161)"></i>
                        <i class="fab fa-js" id="logos" style="font-size:48px;color:rgba(237, 240, 51, 0.7)"></i>
                        <i class="fab fa-angular" id="logos" style="font-size:48px;color:rgba(0, 0, 0,0.7)"></i>
                        <i class="fab fa-react" id="logos" style="font-size:48px;color:rgba(6, 100, 201, 0.7)"></i>

                    </p>                
                </div>
                <div class="col-lg-2 col-md-2"></div>
            </div>
        </div>
        </div>
    </div>

    <div id="contact" class="offset">
        <section id="contact" class="py-5" >

            <div class="container">

                <!-- Section heading -->
                <legend class="h1-responsive legend mb-5">CONTACT US</legend>
                <!-- Section description -->
                <p class="text-center w-responsive mx-auto mb-5">You can contact us for any question or inquiries and our team will reach you within 12 hours. Feel free to give a direct call and I will be happy to serve you..</p>

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-9 mb-md-0 mb-5">

                    <form method="POST" action="{% url 'portfolio:index' %}">
                        {% csrf_token%}
                        {% bootstrap_form form%}

                        <input type="submit" value="Send" class="btn btn-md" id="send">
                    </form>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li>
                        <i class="fa fa-map-marker fa-2x" id="purple-text"></i>
                        <p>Nairobi, Kenya</p>
                        </li>
                        <li>
                        <i class="fa fa-phone fa-2x mt-4" id="purple-text"></i>
                        <p>+254758818394</p>
                        </li>
                        <li>
                        <i class="fa fa-envelope fa-2x mt-4" id="purple-text"></i>
                        <p class="mb-0">dmbugu66@gmail.com</p>
                        </li>
                    </ul>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>

        </section>
        <!--Section: contact-->
    </div>
    <footer class="page-footer font-small pt-4 footer" style="background-color: rgba(0,0, 0,.6);">

        <!-- Footer Elements -->
        <div class="container">
    
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center " id="list">
            <li class="list-inline-item" id="icons">
            <a  href="https://www.twitter.com" title="TWITTER" target="_blank" style="font-size: 1.5rem;color:white;">
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
            </li>
            <li class="list-inline-item" id="icons">
            <a href="https://www.instagram.com" title="INSTAGRAM" target="_blank" style="font-size: 1.5rem;color:red;">
                <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
            </li>
            <li class="list-inline-item" id="icons">
            <a href="https://www.facebook.com" target="_blank" title="FACEBOOK" style="font-size: 1.5rem;color:rgb(32, 129, 226);">
                <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
            </li>
            <li class="list-inline-item rounded-circle" id="icons">
            <a href="https://www.linkedin.com" target="_blank" title="LINKEDIN" class="rounded-circle" style="font-size: 1.5rem;color:rgb(10, 68, 126);">
                <i class="fab fa-linkedin" aria-hidden="true"></i>
            </a>
            </li>
            <li class="list-inline-item rounded-circle" id="icons">
                <a href="https://www.github.com" target="_blank" title="GITHUB" class="rounded-circle" style="font-size: 1.5rem;color:white;">
                    <i class="fab fa-github"></i>
                </a>
            </li>
        </ul>
        <!-- Social buttons -->
    
        </div>
        <!-- Footer Elements -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="color: white;">© 2020 Copyright
        
        </div>
        <!-- Copyright -->
        
      </footer>
      <!-- Footer -->
    
    {% block content%}
    {% endblock %}
    {% block scripts %}
      <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type='text/javascript' src="{%static 'js/style.js' %}"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    
        <!-- Bootstrap tooltips -->
        <!-- MDB core JavaScript -->
    {% bootstrap_javascript%}
    {% endblock %}
</body>
</html>