
#body{
    font-family: 'Poppins',serif;
}
/* scroll bar */
#body::-webkit-scrollbar{
    width: 0.25rem;
}
#body::-webkit-scrollbar-thumb{
    background-color: rgb(66, 155, 155);
}
#body::-webkit-scrollbar-track{
    background-color: black;
}


#name{
    font-family: 'Poppins',serif;
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px #aaa;
}

#navbar{
    text-transform: uppercase;
    background-color: rgba(0,0, 0,.6)!important;

}

.navbar-nav li{
    padding-right: 2rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(66, 155, 155);
}
#nav:hover, #nav.active{
    color: rgb(66, 155, 155);
}

/* Background image home */
.home-inner {
    background-image: url(/media/background.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100%;
    position: relative; 
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 2;
    color: white;
    text-transform: uppercase;
}
.caption h1{
    font-size: 3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
    letter-spacing: .3rem;
    padding-bottom: 1rem;
}
.caption h3{
    font-size: 2rem;
    font-weight: 400;
    text-shadow: .1rem .1rem .5rem black;
    letter-spacing: .3rem;
    padding-bottom: 1rem;
}
.caption h5{
    font-size: 1rem;
    font-weight: 200;
    text-shadow: .1rem .1rem .5rem black;
    letter-spacing: .1rem;
}

.dark{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}



/* PROJECT PORTFOLIO */
.legend{
    font-size: 2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
    letter-spacing: .3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.project-name{
    font-size: 1.3rem;
    text-align: center;
}

#image:hover{
    background: rgba(0, 0,0, .5);
}
#modal{
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    
}
#modalContent{
    background-color: seashell;
    margin: 10% auto;
    width: 50%;
    padding: 20px;
    box-shadow: .1rem .1rem .8rem white;
    animation-name: modalopen;
    animation-duration: 1s;
    
}

#close{
    float: right;
    font-size: 2rem;
    cursor: pointer;
    
}
#close:hover{
    color: red;
}

.site:hover{
    background-color: rgb(66, 155, 155);
}

#about{
    background-color: rgb(195, 195, 199);
}
.legend-underline{
    border-width: 30px;
    text-decoration: underline;
}
/* About */
/* contact */

#purple-text{
    color: rgb(2, 223, 223);
}
#send{
    background-color: rgb(2, 223, 223);
}

#about-info{
    font-weight: bolder;
    color: rgb(0, 0, 0);
}

#logos{
    
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
/* ---------------------------------------------------Skills Styling------------------------------------------------------- */
#skills{
    height: 100vh;
}
.html{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

div[class^='tag-']{
    clip-path: polygon(75% 0%,100% 50%,75% 100%,0% 100%,0% 50%,0% 0%);
    width: 10%;
    height: 30px;
    background-color: rgba(0,0, 0,.6) ;
    margin-right: 30px;
    padding-left: 5px;
}

div[class^='tag-'] p{
    text-align: left;
    color: white;
    font-size: 0.9rem;
    padding-top: 5px;
}
.progressbar{
    position: relative;
    width: 70%;
    height: 20px;
    border: 1px solid #48CFAD;
    border-radius: 20px;
    margin-top: 7px;
}

div[class^='bar-']{
    position: absolute;
    background-color: #48CFAD;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
}
.bar-html,
.bar-css,.bar-javascript, .bar-react, .bar-angular,.bar-django, .bar-django{
    width: calc(0-6px);
}


/* ---------------------------------------------------Name in the background image------------------------------------------- */
/* Name animate */

.fancy span{
    opacity: 0;
    transition: all 0.5s ease-in;
}

/* Name cursor when writing or deleting */

.my-name{
    border-right: 0.2rem solid #777;
}
/* .name span{
    opacity: 0;
    transition: all 0.5s ease-in;
} */

span.animate{
    opacity: 1;
}

/* Aimates the details in the background photo */
#nameDetail{
    display: none;
    animation: nameDetail;
    animation-duration: 1s;
}

/* Animate the arrows */

.arrows{
    position: relative;
    width: 40px;
    height: 40px;
    margin: auto;
    transform: rotate(45deg);
}

.arrows span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    border: none;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    animation: arrow 1s linear infinite;
}

.arrows span:nth-child(1){
    top: -30px;
    left: -30px;
    animation-delay: 0.2s;
}

.arrows span:nth-child(2){
    top: -15px;
    left: -15px;
    animation-delay: 0.4s;
}

.arrows span:nth-child(3){
    top: 0px;
    left: 0px;
    animation-delay: 0.6s;
}

.arrows span:nth-child(4){
    top: 15px;
    left: 15px;
    animation-delay: 0.8s;
}
/* modal open keyframe */
@keyframes modalopen{
    from{opacity: 0;}
    to{opacity: 1;}
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* animate the arrows using keyframes */
@keyframes arrow{
    0%{
        border-color: #fff;
        transform: translate(0,0);
    }
    20%{
        border-color: #fff;
        transform: translate(15px,15px);
    }
    20.1%,100%{
        border-color: #222;
        transform: translate(0,0);
    }
}

/* Animate the name detail */

@keyframes nameDetail{
    from{opacity: 0;}
    to{opacity: 1;}
}


@media only screen and (max-width: 600px) {
    .caption{
        top: 30%;
    }
    .home-inner{
        height: 100vh;
        width: 100%;
        background-size: cover;
        object-fit: cover;
        background-attachment: fixed;
    }
    #modalContent{
        width: 80%;
        margin-top: 30%;
    }
    
    #site{
        background-color:  rgb(2, 223, 223);
    }
    #logos{
        font-size: 30px;
    }

    .personal-contact{
        display: grid;
        grid-template-columns: 0.6fr 1.5fr 2fr;
        /* background-color: grey; */
        width: 100%;
        overflow: hidden;
        font-size: 0.8rem;
        margin-top: 0;
    }

    .personal-details{
        overflow: hidden;
        text-align: center;
        margin-top: 0;
    
    }


  }
  
