
body{
    font-family: 'Poppins',serif;
}
#name{
    font-family: 'Poppins',serif;
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px #aaa;
}

.header{
    background-color: #60b4df;
    
}
.navbar{
    text-transform: uppercase;
    background-color: rgba(0,0, 0,.6)!important;

}

.navbar-nav li{
    padding-right: 2rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(66, 155, 155);
}
.header a{
    color: rgb(248, 245, 245);
}

/* Background image home */
.home-inner {
    background-image: url(/media/background.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100%;
    position: relative; 
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 2;
    color: white;
    text-transform: uppercase;
}
.caption h1{
    font-size: 3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
    letter-spacing: .3rem;
    padding-bottom: 1rem;
}
.caption h3{
    font-size: 2rem;
    font-weight: 400;
    text-shadow: .1rem .1rem .5rem black;
    letter-spacing: .3rem;
    padding-bottom: 1rem;
}
.caption h5{
    font-size: 1rem;
    font-weight: 200;
    text-shadow: .1rem .1rem .5rem black;
    letter-spacing: .1rem;
}

.dark{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* PROJECT PORTFOLIO */
.legend{
    font-size: 2rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
    letter-spacing: .3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.project-name{
    font-size: 1.3rem;
    text-align: center;
}

#image:hover{
    background: rgba(0, 0,0, .5);
}
#modal{
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    overflow: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    
}
#modalContent{
    background-color: seashell;
    margin: 10% auto;
    width: 50%;
    padding: 20px;
    box-shadow: .1rem .1rem .8rem white;
    animation-name: modalopen;
    animation-duration: 1s;
    
}

#close{
    float: right;
    font-size: 2rem;
    cursor: pointer;
    
}
#close:hover{
    color: red;
}

.site:hover{
    background-color: rgb(66, 155, 155);
}

#about{
    background-color: rgb(195, 195, 199);
}
.legend-underline{
    border-width: 30px;
    text-decoration: underline;
}
/* About */
/* contact */

#purple-text{
    color: rgb(2, 223, 223);
}
.send{
    background-color: rgb(2, 223, 223);
}
#list{
    font-size: 1.2rem;
    
}
/* #icons{
    background-color: rgb(2, 223, 223);
    
} */

/* modal open keyframe */
@keyframes modalopen{
    from{opacity: 0;}
    to{opacity: 1;}
}



@media only screen and (max-width: 600px) {
    .home-inner{
        height: 100vh;
        width: 100%;
        background-size: cover;
        object-fit: cover;
    }
    #modalContent{
        width: 80%;
    }
    /* profile */
    #profile{
       background-color: violet;
    }
  }
  
