
body{
    font-family: 'Poppins',serif;
}
#name{
    font-family: 'Poppins',serif;
    font-size: 1.5rem;
    text-shadow: 4px 4px 4px #aaa;
}

.header{
    background-color: #60b4df;
    
}
.navbar{
    text-transform: uppercase;
    background-color: rgba(0,0, 0,.6)!important;

}

.navbar-nav li{
    padding-right: 2rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(2, 223, 223);
}
.header a{
    color: rgb(248, 245, 245);
}

/* Background image home */
.home-inner {
    background-image: url(/media/background.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100%;
    position: relative; 
}

.caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: 2;
    color: white;
    text-transform: uppercase;
}
.caption h1{
    font-size: 3rem;
    font-weight: 700;
    text-shadow: .1rem .1rem .8rem black;
    letter-spacing: .3rem;
    padding-bottom: 1rem;
}
.caption h3{
    font-size: 2rem;
    font-weight: 400;
    text-shadow: .1rem .1rem .5rem black;
    letter-spacing: .3rem;
    padding-bottom: 1rem;
}
.caption h5{
    font-size: 1rem;
    font-weight: 200;
    text-shadow: .1rem .1rem .5rem black;
    letter-spacing: .1rem;
}

.dark{
    position: absolute;
    background-color:rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 600px) {
    .home-inner{
        height: 100vh;
        width: 100%;
        background-size: cover;
        object-fit: cover;
    }
  }
  
/* .login , .logout:hover{
    background-color: white;
    border-radius: 2rem;
    border: 2px solid white;
    padding: 0.1rem 1.0rem;
    color: #60b4df;
    text-transform: uppercase;
}

.link, .login:hover{
    background-color: transparent;
    color: black;
    border-radius: 2rem;
    border: 2px solid white;
    padding: 0.1rem 1.0rem;
    text-transform: uppercase;

}

.link{
    text-decoration: none;
}

.button{
    background-color: #60b4df;
    transition: 0.3s;
    color: black;
    border-radius: 2rem;
    font-size: 0.9em;
}
.button:hover{
    opacity: 1;
    background-color: #607678;
} */

/* .container{
    position: relative;
}

.image{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.title{
    position: absolute;
    opacity: 0;
    transition: .5s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image{
    opacity: 0.3;
}
.container:hover .title{
    opacity: 1;
} */